
@{
    ViewBag.Title = "Conferir";
}

<div class="paginaConferencia" onload="loadConferencia()">
    <h1>Conferir</h1>

    <table id="tabela">
       
    </table>
    
    <div style="text-align: center; margin-top: 50px;">
        <a href="~/aposta" class="btn-sortear"><i class="fa fa-inbox"></i> Fazer Novas Apostas</a>
        <button type="button" class="btn-eliminar"><i class="fa fa-refresh"></i> Reiniciar Jogo</button>
        <button name="sortear" class="btn-sortear" id="sortear" data-pagina="1"><i class="fa fa-university" aria-hidden="true"></i> Sortear</button>
    </div>
    
</div>




