
@{
    ViewBag.Title = "Aposta Megasena";
}
<form action="" method="post" id="formApostar">
    <div class="cartao">
        <h1>MEGA-SENA</h1>
        <p class="subtitulo">Você pode jogar marcando em um ou nos dois quadros abaixo.</p>
            <div class="bloco-numeros">
                @for (int dezenas = 1; dezenas <= 60; dezenas++)
                {
                    var numero = dezenas.ToString();
                    var dezena = dezenas < 10 ? "0" + numero : numero;

                    <input type="checkbox" class="checkbox dezenas" value="@dezena" id="dezena@(dezena)" name="dezenas[]" />
                    <label for="dezena@(dezena)">@dezena</label>

                    if (dezenas % 10 == 0) { <br /> }
                }
                <input type="checkbox" class="checkbox surpresinha" value="1" id="surpresinha" name="surpresinha" />
                <label for="surpresinha" class="surpresinha">Deixe o sistema escolher por mim.</label>
            </div>
        <p class="aviso">Confira o bilhete impresso pelo terminal. Ele é o único comprovante da aposta.</p>
    </div>
    <br/>
    <div style="text-align: center">
        <button type="submit" id="apostar" class="btn-apostar"><i class="fa fa-money"></i> Apostar</button>
        <button name="sortear" class="btn-sortear" id="sortear"><i class="fa fa-university" aria-hidden="true"></i> Sortear</button>
    </div>

</form>

<div class="cartaoConferencia">
    <h2>Apostas Realizadas</h2>

    <div id="apostasRealizadas"></div>

</div>




